
doctype 5
html
  head
    title Chat
    meta(charset="utf-8")
    link(rel="stylesheet",href="page.css")
    script(src="lib/jquery-1.8.3.min.js")
    script(src="lib/dist/socket.io.js")
    script(src="lib/live-tmpl.js")
    script(src="handle.js")
  body
    #nav
      #home Home
      #paper Paper
    #paper
    script(src="http://192.168.1.19:7777/doodle.js")