
// global stylus

// @font-face
//  font-family Andika
//  src url(fonts/Andika.woff)

body
  margin 0px
  background hsl(0,0,90)

*
  font-family "wenquanyi micro hei"
  box-sizing border-box
  -moz-box-sizing border-box
  box-shadow 0px 0px 4px hsl(0,0,90)

// navigation bar

#nav
  position relative
  padding 8px
  background hsl(0,0,80)

  &>div
    display inline-block
    min-width 80px

  #home
    font-size 18px

#user
  position absolute
  right 0px
  padding 0px 6px
  width 60px

  span
    line-height 20px

  .menu
    position absolute
    right 0px
    background hsl(0,0,97)
    top 20px

  .login .menu, .logout .menu
    display none

  &:hover .menu
    display block

  .login

    .menu
      width 300px
      padding 20px 10px
      text-align right
      line-height 28px

      input
        border none
        padding 0px 4px
        width 160px

  .loading
    img
      width 100%

// notifications

#nav
  position relative

  #notify
    .menu
      position absolute
      background hsl(0,0,95)
      top 29px
      width 200px
      display none
      line-height 20px

    &:hover .menu
      display block

// main part to write posts

#paper
  width 900px
  margin 0px auto
  background hsl(0,0,96)

  .topic
    .submit-area
      
      textarea
        vertical-align top
        width 800px
        height 100px
        border none
        resize none

      .submit
        line-height 60px

    .unit
      max-height 200px

      &>*
        display inline-block
        vertical-align top

      img
        max-width 70px
        max-height 70px

      .text
        width 700px

      .info
        font-size 12px
        color hsl(0,0,70)