body {
  margin: 0px;
  background: #e6e6e6;
}
* {
  font-family: "wenquanyi micro hei";
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 0px 4px #e6e6e6;
}
textarea {
  border: none;
}
#nav {
  position: relative;
  padding: 8px;
  background: #ccc;
}
#nav>div {
  display: inline-block;
  min-width: 80px;
}
#nav #home {
  font-size: 18px;
}
#user {
  position: absolute;
  right: 0px;
  padding: 0px 6px;
  width: 60px;
}
#user span {
  line-height: 20px;
}
#user .menu {
  position: absolute;
  right: 0px;
  background: #f7f7f7;
  top: 20px;
}
#user .login .menu,
#user .logout .menu {
  display: none;
}
#user:hover .menu {
  display: block;
}
#user .login .menu {
  width: 300px;
  padding: 20px 10px;
  text-align: right;
  line-height: 28px;
}
#user .login .menu input {
  border: none;
  padding: 0px 4px;
  width: 160px;
}
#user .loading img {
  width: 100%;
}
#nav {
  position: relative;
}
#nav #notify .menu {
  position: absolute;
  background: #f2f2f2;
  top: 29px;
  width: 200px;
  display: none;
  line-height: 20px;
}
#nav #notify:hover .menu {
  display: block;
}
#paper {
  width: 900px;
  margin: 0px auto;
  background: #f5f5f5;
}
#paper .submit-area textarea {
  vertical-align: top;
  width: 800px;
  height: 100px;
  resize: none;
}
#paper .submit-area .submit {
  line-height: 60px;
}
#paper .unit {
  max-height: 200px;
}
#paper .unit>* {
  display: inline-block;
  vertical-align: top;
}
#paper .unit img {
  max-width: 70px;
  max-height: 70px;
}
#paper .unit .text {
  width: 700px;
}
#paper .unit .info {
  font-size: 12px;
  color: #b3b3b3;
}
#paper .unit .reply {
  display: inline-block;
  padding: 4px 6px;
  background: #a8a8f0;
  border-radius: 8px;
  color: #fff;
  font-family: monospace;
}
#paper .post .list {
  min-height: 200px;
}
